/* hide the Home button */
.button-toolbar.home {
	display: none
}

/* transparent speed dial thumbnails */
.startpage .dial .thumbnail-image {
  background-color: transparent;
}

/* give the tabs a bit of shape */
.tabs-top .tab-position .tab:not(.pinned) {
    border-radius: 6px 24px 0 0;
}

/* round corners on pinned tabs */
#browser .tab-position .tab.pinned {
    border-radius: 6px 6px 0 0;
}

/* move close button to the right, always visible */
.tab-header .favicon, .tab-header .close {
	display: block !important;
}

.tab-header .close {
	order: 1 !important;
	margin-right: 5px;
    background-color: transparent;
}

/* Give tabs a border and gradient for accent colour */
#browser .tab-position .tab.active {
    background-image: linear-gradient(to top, var(--colorAccentBg) 0%, var(--colorBg) 100%);
    color: inherit;
    fill: inherit;
    border: 1px solid var(--colorAccentBg);
    border-bottom: none;
}

/* Give address bar a border and a gradient for accent colour */
.color-behind-tabs-off .toolbar-addressbar {
    background-image: linear-gradient(to bottom, var(--colorAccentBg) 0%, var(--colorBg) 100%);
    border: 1px solid var(--colorAccentBg);
    border-bottom: 1px solid var(--colorAccentBg);
}

/* round corners for address and search boxes */
.toolbar .addressfield,
.toolbar .searchfield {
    border-radius: 7px;
}

/* lose weird background on extension buttons */
.toolbar-addressbar .button-toolbar.browserAction-button,
.toolbar-mailbar .button-toolbar.browserAction-button {
	background-color: transparent;
}
